.MMM-Shelly-PM div.container {
    margin: 0px;
    padding: 0px;
}


.MMM-Shelly-PM p.bottom {
    margin: 0px;
    padding: 0px;
    font-size: 40%;
    line-height: 100%;
    float: right;
    clear:right;
}

.MMM-Shelly-PM div.right {
    float: right;
    padding-left:10px;
}

.MMM-Shelly-PM div.newline {
    padding-left:10px;
    clear: right;
}

.MMM-Shelly-PM div sup {
    vertical-align: super;
    font-size: 40%;
    padding-right: 10px;
}

