.MMM-Shelly-Pro-3EM div.container {
    margin: 0px;
    padding: 0px;
}


.MMM-Shelly-Pro-3EM p.bottom {
    margin: 0px;
    padding: 0px;
    font-size: 40%;
    line-height: 100%;
    float: right;
    clear:right;
}

.MMM-Shelly-Pro-3EM div.right {
    float: right;
    padding-left:10px;
}

.MMM-Shelly-Pro-3EM div.newline {
    padding-left:10px;
    clear: right;
}

.MMM-Shelly-Pro-3EM div sup {
    vertical-align: super;
    font-size: 40%;
    padding-right: 10px;
}

.MMM-Shelly-Pro-3EM .generation {
	color: lightgreen;
}

.MMM-Shelly-Pro-3EM .consumption {
  color: rgb(214, 122, 127);
}
